<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">

      <!-- START ROW -->
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <h4 class="mt-0 header-title mb-4">User Orders</h4>
              <div class="table-responsive">
                <table class="table table-hover text-center">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Details</th>
                      <th scope="col">Payment Method</th>
                      <th scope="col">Status</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    {{#each Items}}
                      <tr>
                        <td> {{this.dateShort}} </td>
                        <td>{{this.address.name}} <br/>
                          {{this.address.Housename}}
                          <br />{{this.address.Streetname}},
                          {{this.address.Pin}}
                        </td>
                        <td>{{this.paymentMethod}} </td>
                        <td>{{this.paymentstatus}} </td>
                        <td
                          data-order="1000"
                        >₹ {{this.totalAmount}}</td>
                        <td data-order="1000">
                          <div class="d-flex justify-content-end">
                           <div class="dropdown">
                              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change Status
                              </button>
                              {{#if this.delivered}}
                              {{else}}
                              {{#if this.cancel}}
                              {{else}}
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item " href="#"onclick="changeOrderStatus('{{this._id}}','pending')" >Pending</a>
                                <a class="dropdown-item" href="#"  onclick="changeOrderStatus('{{this._id}}','delivered')">Delivered</a>
                                <a class="dropdown-item" href="#"  onclick="changeOrderStatus('{{this._id}}','cancelled')">Cancel</a>
                              </div>
                              {{/if}}
                              {{/if}}
                            </div>   
                           <a class="btn btn-primary btn-sm" href="/admin/view-order/{{this._id}}" style="width: fit-content; margin-left:5px">view Details</a>
                          </div>
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- END ROW -->

    </div>
    <!-- container-fluid -->

  </div>
  <!-- content -->

  <footer class="footer">
    <span class="d-none d-sm-inline-block"> Cozmo Admin Panel </span>
  </footer>

</div>

<script>
  


function changeOrderStatus(orderId,status) {
    $.ajax({
      url: "/admin/change-order-status/" + orderId,
      method: "POST",
      data: {
        status: status,
      },
      success: (response) => {
        if(response.statusChange){
            swal('User Order Status Changed').then(()=>{
                location.reload()
            })
        }
      }
    });
  }
  
</script>