<main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="swiper-container home-slider-container default-slider-container">
        <div class="swiper-wrapper home-slider-wrapper slider-default">
          {{#each banner}}
          <div class="swiper-slide">
            <div class="slider-content-area" data-bg-img="/user-assets/img/shape/1.webp">
              <div class="container">
                <div class="slider-container">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-sm-6 col-md-5">
                      <div class="slider-content">
                        <div class="content">
                          <div class="title-box">
                            <h2 class="title">{{this.text}}</h2>
                          </div>
                          <div class="desc-box">
                            <p class="desc">{{this.description}}</p>
                          </div>
                          <div class="btn-box">
                            <a class="btn-slider" href="/shop">Shop Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="slider-thumb">
                        <div class="thumb scene">
                          <span class="scene-layer" data-depth=".3"><img src="/images/{{this.Images.[0]}}" width="461" height="489" alt="Image-HasTech"></span>
                        </div>
                        <div class="shape-group mousemove">
                          <div class="shape-group-one mousemove-layer" data-speed=".8" data-bg-img="user-assets/img/shape/2.webp"></div>
                          <div class="shape-group-two scene"><span class="scene-layer" data-depth=".6"><img src="user-assets/img/shape/3.webp" width="471" height="462" alt="Image-HasTech"></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="slider-text-shape">NEW 2022</h2>
            </div>
          </div>
          {{/each}}
        </div>

        <!--== Add Swiper Arrows ==-->
        <div class="swiper-btn-wrap">
          <div class="swiper-btn-prev">
            <i class="pe-7s-angle-left"></i>
          </div>
          <div class="swiper-btn-next">
            <i class="pe-7s-angle-right"></i>
          </div>
        </div>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start Product Collection Area Wrapper ==-->
    <section class="product-area product-collection-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <!--== Start Product Collection Item ==-->
            <div class="product-collection">
              <div class="inner-content">
                <div class="product-collection-content">
                  <div class="content">
                    <h3 class="title"><a href="/mens-shoes">{{categories.0.category}}</a></h3>  
                  </div>
                </div>
                <div class="product-collection-thumb" data-bg-img="/images/category-imgs/mens.png"></div>
                <a class="banner-link-overlay" href="/show-products/{{categories.0._id}}"></a>
              </div>
            </div>
            <!--== End Product Collection Item ==-->
          </div>
          <div class="col-lg-4 col-md-6">
            <!--== Start Product Collection Item ==-->
            <div class="product-collection">
              <div class="inner-content">
                <div class="product-collection-content">
                  <div class="content">
                    <h3 class="title"><a href="/women-shoes">{{categories.1.category}}</a></h3>
                    {{!-- <h4 class="price">From $90.00</h4> --}}
                  </div>
                </div>
                <div class="product-collection-thumb" data-bg-img="/images/category-imgs/women.jpg"></div>
                <a class="banner-link-overlay" href="/show-products/{{categories.1._id}}"></a>
              </div>
            </div>
            <!--== End Product Collection Item ==-->
          </div>
          <div class="col-lg-4 col-md-6">
            <!--== Start Product Collection Item ==-->
            <div class="product-collection">
              <div class="inner-content">
                <div class="product-collection-content">
                  <div class="content">
                    <h3 class="title"><a href="/kids-shoes">{{categories.2.category}}</a></h3>

                  </div>
                </div>
                <div class="product-collection-thumb" data-bg-img="/images/category-imgs/kids.webp"></div>
                <a class="banner-link-overlay" href="/show-products/{{categories.2._id}}"></a>
              </div>
            </div>
            <!--== End Product Collection Item ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Collection Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <section class="product-area product-default-area">
      <div class="container ">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h3 class="title">Featured Items</h3>
              <div class="desc">
                <p>Shoes that will not let you down.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

         {{#each products}} 
          <div class="col-sm-6 col-lg-3">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="inner-content">
                <div class="product-thumb">
                  <a href="/view-product/{{this._id}}">
                    <img src="/images/{{this.Image.[0]}}" width="270" height="274" style="width: 270px; height:274px" alt="Image-HasTech">
                  </a>
                
                  <div class="product-action">
                    {{!-- <a class="btn-product-wishlist" href="shop-wishlist.html"><i class="fa fa-heart"></i></a> --}}
                    <button class="btn-product-cart" onclick="addToCart('{{this._id}}')" ><i class="fa fa-shopping-cart"></i></button>
                    
                  </div>
                  <a class="banner-link-overlay" href="shop.html"></a>
                </div>
                <div class="product-info p-2 mt-0">
                  <h4 class="title mb-1"><a href="#">{{this.name}}</a></h4>
                  <div class="category">
                    <ul>
                      <li><a  href="/view-product/{{this._id}}">{{this.description}}</a></li>
                    </ul>
                  </div>
                  
                  <div class="price ">
                    <span class="price">₹ {{this.price}}</span>
                  </div>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
        {{/each}}

        </div>
      </div>
    </section>
    <!--== End Product Area Wrapper ==-->

  
  </main>

  <script>
    function jambo(){
      swal("Here's the title!", "...and here's the text!");
    }
  </script>