<main class="main-content">

  <!--== Start Blog Area Wrapper ==-->
  <section class="shopping-cart-area">
    {{#if total}}
          <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class=" table-responsive">
            
              <table class="table text-center ">
                <thead > 
                  <tr>
                      <th class="product-name " >Product</th>  
                      <th class="product-price">Name</th>
                      <th class="product-quantity">Price</th>
                      <th class="product-subtotal">Quantity</th>
                      <th class="product-subtotal">Action</th>
                  </tr>
                </thead>
                <tbody >
                  {{#each products}}
                      <tr class="cart-product-item ">
                      
                      <td class="product-thumb">
                        <a href="single-product.html">
                          <img src="/images/{{this.product.Image.[0]}}" class="imgWidth" width="90" height="110" alt="Image-HasTech">
                        </a>
                      </td>
                      <td class="product-name">
                        <p class="title "><a href="single-product.html"  style="font-size:1rem; color:black">{{this.product.name}}</a></p>
                      </td>
                      <td class="product-price">
                        <span class="price">₹ {{this.product.price}}</span>
                      </td>
                      <td class="product-quantity">
                        <button
                          style="border:none; margin-right:5px"
                          onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', -1, '{{../user._id}}')"
                        >-</button>

                        <span id="{{this.product._id}}" name="quantity">{{this.quantity}}</span>
                        
                        <button
                          onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', 1, '{{../user._id}}')"
                          style="border: none; margin-left:5px"
                        >+</button>
                      </td>

                      <td class="product-remove">
                        <button class="buttonmod" onclick="deleteCartProduct('{{this.product._id}}', '{{this._id}}')"><i class="fa fa-trash-o"></i></button>
                      </td>
                      
                    </tr>
                  {{/each}}
 
                </tbody>
              </table>
            
          </div>
        </div>
      </div>
      <div class="row row-gutter-50 table-responsive mt-4">
        
        <div class="col-md-6 col-lg-4">
          <div class="shipping-form-coupon">
            <div class="section-title-cart">
              <h5 class="title">Coupon Code</h5>
              <div class="desc">
                <p>Enter your coupon code if you have one.</p>
              </div>
            </div>
            <form id="coupon-form" >
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="couponCode" class="visually-hidden">Coupon Code</label>
                    <input
                      type="text"
                      name="coupon"
                      class="form-control"
                      placeholder="Enter your coupon code.."
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="submit" class="coupon-btn">Apply coupon</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" style="margin-left:350px ;">
          <div class="shipping-form-cart-totals">
            <div class="section-title-cart">
              <h5 class="title">Cart totals</h5>
            </div>
            <div class="cart-total-table">
              <table class="table">
                <tfoot class="table-foot">
                  <tr class="order-total">
                    <td>
                      <p class="value">Cart Subtotal :</p>
                    </td>
                    <td>
                      <p class="price" id="total">₹ {{total}}</p>
                    </td>
                  </tr>
                  <tr class="order-total">
                    <td>
                      <p class="value">Offer Discount :</p>
                    </td>
                    <td>
                      <p class="price" id="offer-price">₹ 0</p>
                    </td>
                  </tr>
                  <tr class="order-total">
                    <td>
                      <p class="value">Grand Total : </p>
                    </td>
                    <td>
                      <p class="price" id="total-price">₹ {{total}}</p>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <a class="btn-theme btn-flat" href="/checkout">Proceed to
              checkout</a>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="container">
    
          <div class="row">
        <div class="col-md-12">
          <div class="">
              <div class="container text-center" style="background: rgb(231, 230, 230); border-radius:25px">
                <p style="font-size: 1.5rem;">Cart is empty</p>
              </div>
            
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    
  </section>
  <!--== End Blog Area Wrapper ==-->
</main>

<script>
      
    $('#coupon-form').submit((e)=>{
      e.preventDefault()
      $.ajax({
        url:'/coupon',
        method: 'post',
        data:$('#coupon-form').serialize(),
        success: (amount) => {
            console.log(amount)
            if (amount.status) {
                    swal("Success!", "Coupon Applied", "success").then(() => {
                        document.getElementById('offer-price').innerHTML = amount.discountamount
                        document.getElementById('total-price').innerHTML = amount.grandtotal
                    })
                } else if (amount.used) {
                    swal("Info!", "Coupon already used!", "warning").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                } else if (amount.expired) {
                    swal("Info!", "Coupon Expired", "warning").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                } else if (amount.small) {
                    swal("Info!", "Total amount should be within 1000 and 5000 to apply coupon", "warning").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                } else {
                    swal("Oops!", "Coupon does not exist", "error").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                }
        }
      })
    })
</script>