<main class="main-content">

  <!--== Start Blog Area Wrapper ==-->
  <section class="shopping-cart-area">
    {{#if total}}
          <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="shopping-cart-form table-responsive">
            
              <table class="table text-center">
                <thead>
                  <tr>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-thumb">&nbsp;</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    {{!-- <th class="product-subtotal">Total</th> --}}
                  </tr>
                </thead>
                <tbody>

                  {{#each products}}
                    <tr class="cart-product-item">
                      <td class="product-remove">
                        {{!-- <a href="#/" onclick="deleteCartProduct()"><i class="fa fa-trash-o"></i></a> --}}
                      </td>

                      <td class="product-thumb">
                        <a href="/#">
                          <img
                            src="/images/{{this.product.Image.[0]}}"
                            width="90"
                            height="110"
                            alt="Image-HasTech"
                          />
                          <p style="color: black; font-size:0.8rem">{{this.product.name}}</p>
                        </a>
                      </td>
                      <td class="product-name">
                        <h4 class="title"><a
                            href="single-product.html"
                          >{{this.product.description}}</a></h4>
                      </td>
                      <td class="product-price">
                        <span class="price">₹ {{this.product.price}}</span>
                      </td>

                      <td class="product-quantity">
                        <button
                          style="border:none; margin-right:5px"
                          onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', -1, '{{../user._id}}')"
                        >-</button>

                        <span id="{{this.product._id}}" name="quantity">{{this.quantity}}</span>
                        
                        <button
                          onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', 1, '{{../user._id}}')"
                          style="border: none; margin-left:5px"
                        >+</button>
                      </td>

                    </tr>
                  {{/each}}

                    {{! <tr class="actions">
                      <td class="border-0" colspan="6">
                        <button type="submit" class="update-cart" disabled>Update cart</button>
                        <button type="submit" class="clear-cart">Clear Cart</button>
                        <a href="shop.html" class="btn-theme btn-flat">Continue Shopping</a>
                      </td>
                    </tr> }}
                </tbody>
              </table>
            
          </div>
        </div>
      </div>
      <div class="row row-gutter-50">
        
        <div class="col-md-6 col-lg-4">
          <div class="shipping-form-coupon">
            <div class="section-title-cart">
              <h5 class="title">Coupon Code</h5>
              <div class="desc">
                <p>Enter your coupon code if you have one.</p>
              </div>
            </div>
            <form action="#" method="">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="couponCode" class="visually-hidden">Coupon Code</label>
                    <input
                      type="text"
                      id="couponCode"
                      class="form-control"
                      placeholder="Enter your coupon code.."
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="submit" class="coupon-btn">Apply coupon</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" style="margin-left:350px ;">
          <div class="shipping-form-cart-totals">
            <div class="section-title-cart">
              <h5 class="title">Cart totals</h5>
            </div>
            <div class="cart-total-table">
              <table class="table">
                <tbody>
                  
                  <tr class="order-total">
                    <td>
                      <p class="value">Total</p>
                    </td>
                    <td>
                      <p class="price" id="total">₹ {{total}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a class="btn-theme btn-flat" href="/checkout">Proceed to
              checkout</a>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="container">
    
          <div class="row">
        <div class="col-md-12">
          <div class="">
              <div class="container text-center" style="background: rgb(231, 230, 230); border-radius:25px">
                <p style="font-size: 1.5rem;">Cart is empty</p>
              </div>
            
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    
  </section>
  <!--== End Blog Area Wrapper ==-->
</main>