<div class="container " style="max-width: 1100px;"
>
    <div class="mb-5 text-center">
       
        <h2>Checkout</h2>
    </div>
    <form action="/checkout" method="post">
    <div class="row">
        <div class="col-md-6 order-md-2 mt-5"  >
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <small class="text-muted">Saved Address</small>
            </h4>
           
            <ul class="list-group mb-3 sticky-top p-1" style="background-color: #ebebeb;">
            
                {{#each address}}
        
                <li>
                       <div class="d-flex justify-content-start p-1">
                        <input type="radio" onclick=fetchAddress("{{this.addressDetail.index}}")  name="address" value="{{this.addressDetail.index}}" required>
                        <small class="text-muted " style="margin-left:0.5rem;">
                                                  {{this.addressDetail.Housename}}-
                                                  {{this.addressDetail.Streetname}},
                                                  {{this.addressDetail.State}},
                                                  {{this.addressDetail.Pin}}
                       </small>
                       </div>
                       </li>
                {{/each}} 
                
                {{!-- <li class="list-group-item d-flex justify-content-between">
                    <span>Total :</span>
                    <strong>Rs.{{total}}</strong>
                </li>    --}}
                {{#if address}} 
                 {{else}}
                 <li><div class="alert alert-danger mt-3">Please add address in user profile /<br>
                 or fill address here</div></li>
                 {{/if}}
            </ul>
            
        </div>
        </form>
        <div class="col-md-6 order-md-1">
            <h4 class="mb-4">Shipping Address</h4>
            <form action="/checkout" method="post" class="needs-validation">
                <div class="row">
                    <div class="col-md-11 mb-3">
                        <label for="firstName">House Name</label>
                        <input type="text" id="address" name="Housename" class="form-control" onkeyup="validatecAddress()" />                                      
                    </div>
                    <label class="text-danger" id="caddress-error" for=""></label>   
                </div>
                <div class="row">
                    <div class="col-md-11 mb-3">
                        <label for="" class="required">Street</label>
                        <input type="text" id="town" name="Streetname" class="form-control" onkeyup="validatecTown()" />                                        
                    </div>
                    <label id="ctown-error" class="text-danger" for=""></label>    
                </div>
                <div class="row">
                    <div class="col-md-11 mb-3">
                        <label for="" class="required">State</label>
                        <input type="text" id="state"  class="form-control" name="State" onkeyup="validatecState()" />                                
                    </div>
                    <label for="" class="text-danger" id="cstate-error"></label>    
                </div>
                <div class="row">
                    <div class="col-md-11 mb-3">
                        <label for="" class="required">Pin</label>
                        <input type="number" class="form-control" id="pincode" name="Pin" onkeyup="validatecPin()" />                                  
                    </div>
                    <label class="text-danger" id="cpincode-error" for=""></label>    
                </div>
                
                <hr class="mb-4">
            <button type="submit" id="submit" style="background-color: #eb3e32; border:none;" class="btn btn-success mb-5" >Continue To Checkout</button>
            </form>
        </div>
    </div>
</div>