<div class="container " style="max-width: 960px;"
>
    <div class="mb-5 text-center">
       
        <h2>Checkout</h2>
    </div>
    <form action="/checkout" method="post">
    <div class="row">
        <div class="col-md-5 order-md-2"  >
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Choose address</span>
            </h4>
           
            <ul class="list-group mb-3 sticky-top p-1" style="background-color: #ebebeb;">
            
                {{#each address}}
                {{!--  --}}
                <li>
                       <div class="d-flex justify-content-between p-1">
                        <input type="radio" id="pay-toggle01" name="address" value="{{this.addressList.index}}" required>
                        <label for="pay-toggle01" style="font-size: 0.95rem;">
                                                  {{this.addressList.address}}-
                                                  {{this.addressList.pincode}},
                                                  {{this.addressList.mobile}}
                       </label>
                       </div>
                       </li>
                {{/each}} 
                
                {{!-- <li class="list-group-item d-flex justify-content-between">
                    <span>Total :</span>
                    <strong>Rs.{{total}}</strong>
                </li>    --}}
                {{#if address}} 
                <a href="/checkout" class="text-center"><button class="btn btn-primary mt-2 " style="background-color: #eb3e32;border:none" type="submit">Continue to checkout</button></a>
                 {{else}}
                 <div class="alert alert-danger mt-3">Please add address</div>
                 {{/if}}
            </ul>
           
            <ul class="list-group mb-3 sticky-top" style="background-color: #ebebeb;">

            </ul>
            
        </div>
        </form>
        <div class="col-md-7 order-md-1">
            <h4 class="mb-3">Add New Address</h4>
            <form action="/add-address" method="post" class="needs-validation">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" name="fname" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback"> Valid first name is required. </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" name="lname" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback"> Valid last name is required. </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" required="">
                        <div class="invalid-feedback" style="width:  100%;"> Your username is required. </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" name="address"  class="form-control" id="address" placeholder="1234 Main St" required="">
                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                </div>
                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" name="address2" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>

                <div class="mb-3">
                    <label for="address">Mobile Number</label>
                    <input type="text" name="mobile"  class="form-control" id="mobile" placeholder="Mobile" required="">
                    <div class="invalid-feedback"> Please enter your mobile number </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                    <label for="address2">Pincode<span class="text-muted"></span></label>
                    <input type="text" name="pincode" class="form-control" id="pincode" placeholder="Pincode" required="">
                     <div class="invalid-feedback"> Please enter your pincode. </div>
                </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" name="state" id="state" required=""> 
                            <option>Kerala</option>
                            <option>tamil nadu</option>
                            <option>delhi</option>
                            <option>karnadaka</option>
                            <option value=""></option>
                        </select>
                        <div class="invalid-feedback"> Please provide a valid state. </div>
                    </div>
                </div> 
                <hr class="mb-4">
                <a href="/add-address"><button type="submit" id="submit" style="background-color: #eb3e32; border:none;" class="btn btn-success" >Add address</button></a>   
            </form>
        </div>
    </div>
</div>