<main class="main-content">
    

    <!--== Start Product Single Area Wrapper ==-->
    <section class="product-area product-single-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="product-single-item">
              <div class="row">
                <div class="col-xl-6">
                  <!--== Start Product Thumbnail Area ==-->
                  <div class="product-single-thumb">
                    <div class="swiper-container single-product-thumb single-product-thumb-slider">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <a class="lightbox-image"  data-fancybox="gallery" href="/images/{{product.Image.[0]}}">
                            <img src="/images/{{product.Image.[0]}}" style="width: 470px; height:441px" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a class="lightbox-image" data-fancybox="gallery" href="/images/{{product.Image.[1]}}">
                            <img src="/images/{{product.Image.[1]}}"style="width: 470px; height:441px" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a class="lightbox-image" data-fancybox="gallery" href="/images/{{product.Image.[2]}}">
                            <img src="/images/{{product.Image.[2]}}"style="width: 470px; height:441px" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a class="lightbox-image"  data-fancybox="gallery" href="/images/{{product.Image.[3]}}">
                            <img src="/images/{{product.Image.[3]}}"style="width: 470px; height:441px" width="570" height="541" alt="Image-HasTech">
                          </a>
                        </div>
                        
                      </div>
                    </div>
                    <div class="swiper-container single-product-nav single-product-nav-slider">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="/images/{{product.Image.[0]}}" style="width: 127px; height:127px" width="127" height="127" alt="Image-HasTech">
                        </div>
                        <div class="swiper-slide">
                          <img src="/images/{{product.Image.[1]}}"style="width: 127px; height:127px" width="127" height="127" alt="Image-HasTech">
                        </div>
                        <div class="swiper-slide">
                          <img src="/images/{{product.Image.[2]}}"style="width: 127px; height:127px" width="127" height="127" alt="Image-HasTech">
                        </div>
                        <div class="swiper-slide">
                          <img src="/images/{{product.Image.[3]}}"style="width: 127px; height:127px" width="127" height="127" alt="Image-HasTech">
                        </div>
        
                      </div>
                    </div>
                  </div>
                  <!--== End Product Thumbnail Area ==-->
                </div>
                <div class="col-xl-6 mt-5">
                  <!--== Start Product Info Area ==-->
                  <div class="product-single-info">
                    <h3 class="main-title">{{product.name}}</h3>
                    <p class="main-title" style="font-size: 1.5rem;">{{product.category}}</p>
                    <div class="prices">
                      <span class="price">₹ {{product.price}} </span>
                    </div>
                    
                    <p> {{product.description}} </p>
                    
                    <div class=" mt-4">
                     
                      <button class="btn-theme" onclick="addToCart('{{product._id}}')">Add to Cart</button>
                    </div>
                    {{!-- <div class="product-wishlist-compare">
                      <a href="shop-wishlist.html"><i class="pe-7s-like"></i>Add to Wishlist</a>
                      
                    </div> --}}
                    <div class="product-info-footer">
                     
                    </div>
                  </div>
                  <!--== End Product Info Area ==-->
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </section>
    
  </main>